@import "tailwindcss";

:root {
  --background: #fffdfe;
  --foreground: #2e2e2e;
  --muted: #999;
  --primary: #5f4bb6;
  --primary-dark: #241765;
  --secondary: #abb6cf;
  --accent: #4da1ff;
    --accent-dark: #1e518a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
    --color-accent: var(--accent);
    --color-accent-dark: var(--accent-dark);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inclusive-sans);
}

* {
    user-select: none;
}