@import "tailwindcss";

:root {
  --background: #f3f2f2;
  --foreground: #111;
  --muted: #999;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inclusive-sans);
}
